body {
  font-family: 'Chilanka', cursive;
}


.form-control {
  width: 75px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
}

.btn {
  box-shadow: 5px 5px 10px rgba(0,0,0,.15);
}

.table td{
  text-align: left;
}


#DoseTable tr td {
  padding: 5px;
}

#GlucoseTable tr td {
  padding: 5px;
}

#diaryInput {
  width: 100%;
  margin: auto;
  font-weight: normal;
}

#saveD{
  margin-right: 20px;
}
